/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

// New Colors by Bob
// Light Theme
$color-bg-light: #F5F5F7;
$color-code-bg-light: #ECECEC;
$color-badge-bg-light: #ffffffe8;
$color-text-light: #0056B3;
$color-text-secondary-light: #4A6FA5;
$color-theme-light: #0056B3;
$color-hover-light: #2080D0;
$color-hover-text-light: #FFFFFF;
$color-text-nav-light: #FFFFFF;
$color-hover-nav-light: #2080D0;
$link-color-light: #B5853F; 
$link-hover-color-light: #2080D0; 
$color-footer-bg-light: #E0E0E0;
$color-footer-text-light: #005080;
$color-footer-link-light: #FFFFFF;
$color-badge-text-light: #FFFFFF;
$color-progress-bar-light: #1C1C1C;

// Dark Theme
$color-bg-dark: #1C1C1C;
$color-code-bg-dark: #2A2A2A;
$color-badge-bg-dark: $grey-900;
$color-text-dark: #E0E0E0;
$color-text-secondary-dark: #B8B8B8;
$color-theme-dark: #2080D0;
$color-hover-dark: #50A5E6;
$color-hover-text-dark: #FFFFFF;
$color-text-nav-dark: #FFFFFF;
$color-hover-nav-dark: #50A5E6;
$link-color-dark: #50A5E6;
$link-hover-color-dark: #00A3E0;
$color-footer-bg-dark: #222222;
$color-footer-text-dark: #B0B0B0;
$color-footer-link-dark: #E0E0E0;
$color-badge-text-dark: #FFFFFF;
$color-progress-bar-dark: #FFFFFF;

// Global Color
$color-nav: #0056B3;


:root {
  color-scheme: light;
  --global-bg-color: #{$color-bg-light};
  --global-code-bg-color: #{$color-code-bg-light};
  --global-text-color: #{$color-text-light};
  --global-text-secondary-color: #{$color-text-secondary-light};
  --global-theme-color: #{$color-theme-light};
  --global-hover-color: #{$color-hover-light};
  --global-hover-text-color: #{$color-hover-text-light};
  --global-nav-color: #{$color-nav};
  --global-text-nav-color: #{$color-text-nav-light};
  --global-hover-nav-color: #{$color-hover-nav-light};
  --global-footer-bg-color: #{$color-footer-bg-light};
  --global-footer-text-color: #{$color-footer-text-light};
  --global-footer-link-color: #{$color-footer-link-light};
  --global-link-color: #{$link-color-light};
  --global-link-hover-color: #{$link-hover-color-light};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$color-badge-bg-light};
  --global-highlight-color: #{$red-color-dark};
  --global-white-color: #{$white-color};  
  --global-badge-text-color: #{$color-badge-text-light};    
  --global-progress-bar-color: #{$color-progress-bar-light};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($black-color, "red", $space: rgb)},
    #{color.channel($black-color, "green", $space: rgb)},
    #{color.channel($black-color, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #{$black-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$color-bg-dark};
  --global-code-bg-color: #{$color-code-bg-dark};
  --global-text-color: #{$color-text-dark};
  --global-text-secondary-color: #{$color-text-secondary-dark};
  --global-theme-color: #{$color-theme-dark};
  --global-hover-color: #{$color-hover-dark};
  --global-hover-text-color: #{$color-hover-text-dark};
  --global-nav-color: #{$color-nav};
  --global-text-nav-color: #{$color-text-nav-dark};
  --global-hover-nav-color: #{$color-hover-nav-dark};
  --global-footer-bg-color: #{$color-footer-bg-dark};
  --global-footer-text-color: #{$color-footer-text-dark};
  --global-footer-link-color: #{$color-footer-link-dark};
  --global-link-color: #{$link-color-dark};
  --global-link-hover-color: #{$link-hover-color-dark};
  --global-distill-app-color: #E0E0E0; 
  --global-divider-color: #424246; 
  --global-divider-color: #424246;
  --global-card-bg-color: #{$color-badge-bg-dark};
  --global-white-color: #{$white-color};  
  --global-badge-text-color: #{$color-badge-text-dark}; 
  --global-progress-bar-color: #{$color-progress-bar-dark};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #{$grey-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
